Don't send userinfo in referer

It's insecure to send userinfo in referer.

From RFC 7231 section 5.5.2:
> A user agent MUST NOT include the fragment and userinfo components of the URI reference [RFC3986], if any, when generating the Referer field value.

Introduced in 5d068d83093d4a3f1acf56fa7797749902497929